/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles 
---------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    font-size: 20px;
    text-decoration-style: none;
}

li:hover {
    font-weight: 700;
}

.content-wrapper {
   max-width: 950px;
   margin: 0 auto;
   padding: 50px;
}

section h2 {
    padding-top: 30px;
}

h2, p, ul {
    margin: 0;
}

h1, h2, header h3 {
    font-family: cursive;
}

.company {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
}

/* Header and Footer 
---------------------------*/
header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

header {
    padding-top: 50px;
    position: relative;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15px;
}

header h1, header h2 {
    color: #EDF2F4;
    text-align: center;
    display: block;
    margin: 0;
}

header h3 {
    text-align: center;
    display: block;
}

header p {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 950px;
}

.header-content-wrapper {
    padding-top: 0 !important;
}

footer {
    text-align: center;
}

footer a {
    padding-left: 10px;
}

.footer-content-wrapper {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact-info a {
    display: inline-block;
    padding: 10px;
}

/* NavBar
---------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

nav a:hover {
    color: blue;
}

/* Work Experience 
---------------------------*/
section img {
    height: 50px;
    width: 50px;
}

.work {
    background: #EDF2F4;
}

.job-description {
    margin-bottom: 30px;
}

.linkedin-link a {
    color: red;
}

.linkedin-link a:hover {
    color: blue;
}

.employment-date {
    margin-bottom: 15px;
}

/* Projects
--------------------------- */
.projects {
    background: #EDF2F4;
}

.projects-content-wrapper {
    margin-top: -80px;
}

.project-link a {   
    color: red;
    text-decoration: underline;
}

.project-link a:hover {
    color: blue;
}

.project-wrapper {
    background: #EDF2F4;
}

.project-text {
    margin-bottom: -60px;
}

/* SKills
--------------------------- */
.skills {
    background: #EDF2F4;
    margin-top: 0;
}

.skills-content-wrapper {
   margin-top: -50px;
}

/* Education 
---------------------------*/
#education {
    background: linear-gradient(rgb(141, 153, 174, 0.8), rgb(141, 153, 174, 0.5)),
    url(./Image/san-antonio-image.jpg) no-repeat fixed;
    background-size: cover;
}

.education .content-wrapper a {
    display: inline-block;
    padding-top: 10px;
}

.school-logo {
    float: left;
    position: relative;
    vertical-align: baseline;
    margin-top: 18px;
}

.school-name {
    margin-left: 80px;
    overflow: hidden;
}

.education .content-wrapper .school-name p,
.education .content-wrapper .school-name a {
    margin-top: -15px;
}

.school-name p, .school-name a {
    font-weight: 700;
}

/* Media Queries 
----------------------*/
@media only screen and (max-width: 500px) {
    li {
        font-size: 15px;
    }

    .skills h2,
    .skills ul {
        margin-left: 0px;
    }

    .header-text {
        width: 400px;
        padding: 0 20px 20px 10px;
    }

    nav {
        display: inline-block;
    }

    nav a {
        font-size: 10px;
        padding: 5px;
    }
}

@media only screen and (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
        margin-top: 18px;
    }

    .project-description {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 899px) and (min-width: 501px) {
    nav {
        display: inline-block;
    }
    
    nav a {
        font-size: 15px;
        padding: 10px;
    }
}
