/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles 
---------------------------*/
body {
    
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    font-size: 20px;
    text-decoration-style: none;
}

@media only screen and (max-width: 500px) {
    li {
        font-size: 15px;
    }

    .skills h2, .skills ul {
        margin-left: 50px;
    }

    .header-text {
        width: 400px;
        padding: 0 20px 20px 10px;
    }
}

li:hover {
    font-weight: 700;
}

.content-wrapper {
   max-width: 950px;
   margin: 0 auto;
   padding: 50px; 
}

.skills-content-wrapper {
    margin: 0 auto;
    max-width: 950px;
    padding-bottom: 50px;
}

h2, p, ul {
    margin: 0;
}

/* Header and Footer 
---------------------------*/
header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

header img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15px;
}

header h1, header h2 {
    color: #EDF2F4;
    text-align: center;
    display: block;
}

header h3 {
    text-align: center;
    display: block;
}

header p {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 950px;
}

footer {
    text-align: center;
}

footer a {
    padding-left: 5px;
}

.footer-content-wrapper {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* Work Experience 
---------------------------*/
section img {
    height: 50px;
    width: 50px;
}

.work {
    background: #EDF2F4;
}

/* SKills
--------------------------- */
.skills {
    background: #EDF2F4;
    margin-top: 0;
}

/* Education 
---------------------------*/
.education {
    background: #8D99AE;
}

